___

<a href='https://www.instagram.com/lanlearning/'> <img src='../pyimages/logosmall.png' width="100" height="100"/></a>
___
<center>Copyright LanLearning 2020</center>

# Let's Review Basic Data Types

Below is the list of topics we cover over the first week of camp:
- **Part 1: Basic Data Types**
- Part 2: Advanced Data Types
- Part 3: Functions
- Part 4: Python Processes
- Part 5: Numpy

## Types of Variables 
This will test your knowledge on variable types.

In [ ]:
sentence = '8.0'
# What type of variable is this?
#How might you change it to a float by deleting two things?
#How might you change that to an integer by deleting one more thing?

**Answer**: Sentence is a string. You can change it to a float by deleting the quotation marks. You can change it to a integer by deleting the decimal point

In [3]:
j, k = 8, 52.2
# What types of variables are these?

**Answer**: j is an integer. k is a float.

In [ ]:
l = 5 > 2
# What type of variable is this?

**Answer**: l is a boolean.

## Names of Variables
This will test your knowledge on the correctly naming variables.

In [ ]:
3d = 13 # is this an acceptable name for a variable.  If not, why?

**Answer**: Not acceptable. No numbers are suppose to be first in a name.

In [ ]:
_this is a name_ = 'Sasha Banks'
# is this an acceptable name for a variable? If not, how would you correct the name?

**Answer**: Not acceptable. I would remove the underscores and replace the spaces with underscores.

## Changing Variable Types
This will test your knowledge on changing variable types

In [5]:
bool("hello world")
# What will this return? Why?

True

**Answer**: True. If the string isn\'t empty, then boolean of a string is always true

In [6]:
float('8')
# What will this return? Why?

8.0

**Answer**: 8.0. Python is smart enough to realize that this is a 8 so it successfully converted that 8 to 8.0.

In [13]:
int('Let\'s do this guys!')
# What will this return? Why?

ValueError: invalid literal for int() with base 10: "Let's do this guys!"

**Answer**: Error. This string can\'t be converted into integers

### Challenge Problems
If you don't get these don't worry

In [ ]:
#What will the following output?

h = 0
int(bool(str(h)))

#What data type is h?
#How could you check the type?

### Explanation
The ```str``` changes the integer ```0``` into the string ```'0'```.

Then the ```bool``` sees something inside of the string it is looking at, so it says ```True```.

The ```int``` looks at the ```True``` and represents ```True``` as ```1```.

**Answer**: It will output ```1``` as an integer. ```h``` is an integer. You could check by doing ```type(h)```.

In [ ]:
part_one = "44"
part_two = 444
part_three  =  4.4
part_four  = True

#Which of the four variables can be added together without leading to an error? Which one can not be added to the others? 
#Hint: Which ones could be represented by numbers?

### Explanation
Part 2 is alreay an integer so it works as a number.

Part 3 is a float which is also a type of number

Part 4 is a boolean which can be represented as 1 or 0. In this case 1 so it also works number.

Part 1 is a string which as we saw earlier can't be converted to integers.

As a result you could add parts 2, 3, and 4 together as if you add 444 + 4.4 +1 but you can't add part 1 to them. You get the float 449.4

**Answer**: part_two, part_3, and part_4 can be added together without error. part_one cannot be added to others.

## Hope you enjoy this review.

### About this notebook: 
#### Developed by:
* [Liam McDonoguh](https://www.linkedin.com/in/liammmcdonough/)
* [Colin Yee](https://www.linkedin.com/in/colin-yee-b724141ab/)

#### Connect with us:
<a href='https://www.linkedin.com/company/lanlearning/'> <img src=https://img.icons8.com/color/48/000000/linkedin.png width="48" height="48" align="left"/></a>

<a href='http://www.instagram.com/lanlearning'> <img src=https://img.icons8.com/fluent/48/000000/instagram-new.png width="48" height="48" align="left"/></a>

<a href='https://www.youtube.com/channel/UC5_yxU9pz4ka7xITJMxO5WA'> <img src=https://img.icons8.com/color/48/000000/youtube-squared.png width="48" height="48" align="left"/></a>

<a href='https://www.github.com/lanlearning/'> <img src=https://img.icons8.com/material-rounded/48/000000/github.png/ width="48" height="48" align="left"/></a>