___

<a href='https://www.instagram.com/lanlearning/'> <img src='../pyimages/logosmall.png' width="100" height="100"/></a>
___
<center>Copyright LanLearning 2020</center>

# Let's Review Functions!


Below is the list of topics we cover over the first week of camp:
- Part 1: Basic Data Types
- Part 2: Advanced Data Types
- **Part 3: Functions**
- Part 4: Python Processes

This review notebook is meant to help you practice and reinforce what you have learned about **functions** during class.

### Math

First up, let's do some math review! 
Create an example of each: 
- addition
- subtraction
- multiplication
- division
- exponents
- absolute value
- modulus

There is one code cell for each below, but you can mix it up and combine some or use variables.

In [1]:
234+4

238

In [3]:
54-234

-180

In [4]:
34*22

748

In [5]:
50/10

5.0

In [6]:
2**5

32

In [7]:
abs(453-234435)

233982

In [8]:
10%2

0

What's the ones digit of 12398? Use a Python math function to get your answer.

In [9]:
12398%10

8

Now, remove the ones digit of 12398 to make 1239. (Hint: use casting.)

In [10]:
int(12398/10)

1239

### Math with Strings

Create a function using math with strings that takes in a `String` parameter representing a person's name to return "Hello, my name is _!"

In [12]:
def introduction(name):
    return "Hello, my name is " + name + "!"
    
introduction("Alana")
    
# example:
# introduction("Alana") should return "Hello, my name is Alana!"

'Hello, my name is Alana!'

### Functions

Let's move onto some more functions.

Create a function that returns the type of the parameter that's put in.

In [13]:
def what_type(param):
    return type(param)

what_type(True)

bool

Create a function that finds if two numbers are divisible by each other. (Is the first variable divisible by the second? Return a boolean.)

In [16]:
# Hint:
a = "hello"
if a == "name":
    print(True)
else:
    print(False)
    
# <, >, <= ,and >= can all be used in an if statement

False

In [17]:
def divisible(a, b):
    if (a%b == 0):
        return True
    else: 
        return False
    
divisible(10, 5)

True

Create a function that finds the smaller number of two parameters. If they're equal, just return the number.

In [20]:
def smaller(a, b):
    if (a<=b):
        return a
    else:
        return b
    
smaller(9, 7)

7

Lastly, create a function that adds the digits of a 3 digit number and returns the sum.

In [26]:
def digit_sum(number):
    a = number%10
    number = int(number/10)
    b = number%10
    number = int(number/10)
    c = number%10
    return a + b + c

digit_sum(123)

6

# Done! :D

### About this notebook: 
#### Developed by:
* [Jacqueline Mei](https://www.linkedin.com/in/jacqueline-mei-9140401aa/)


#### Connect with us:
<a href='https://www.linkedin.com/company/lanlearning/'> <img src=https://img.icons8.com/color/48/000000/linkedin.png width="48" height="48" align="left"/></a>

<a href='http://www.instagram.com/lanlearning'> <img src=https://img.icons8.com/fluent/48/000000/instagram-new.png width="48" height="48" align="left"/></a>

<a href='https://www.youtube.com/channel/UC5_yxU9pz4ka7xITJMxO5WA'> <img src=https://img.icons8.com/color/48/000000/youtube-squared.png width="48" height="48" align="left"/></a>

<a href='https://www.github.com/lanlearning/'> <img src=https://img.icons8.com/material-rounded/48/000000/github.png/ width="48" height="48" align="left"/></a>